# CCS project ignore rules

# Build output folders
/Debug/
/Release/

# Temporary files
*.log
*.obj
*.out
*.map
*.bin

# Optional: Ignore Eclipse/CCS settings
.cproject
.project
.ccsproject
/.settings/
/.launches/
/.metadata/
#/targetConfigs
